<div class="py-4">
    <a class="{{#is page "home"}}text-gray-400{{else}}text-blue-400 underline{{/is}}  ml-2 mr-2" href="/">Home</a> 
    <a class="{{#is page "about"}}text-gray-400{{else}}text-blue-400 underline{{/is}}" href="/about/">About</a>
</div>
